<div data-role="view" data-layout="mobile-view" data-title="Configure profile"
     data-model="app.profileService.viewModel">

    <span>Wizard goes here</span>
    <!--<span data-bind="text: someText"></span>-->

    <div data-role="footer">
        <div data-role="navbar">
            <!--<button data-role="button" data-align="left" data-bind="click: onCancel">Cancel</button>
            <button data-role="button" data-align="right" data-bind="click: onRegister">Register</button>-->
        </div>
    </div>
</div>