<div data-role="view" data-layout="mobile-view" data-title="Register"
     data-model="app.loginService.registerViewModel" data-hide="app.loginService.clearRegisterView"
     data-transition="overlay:right">
    
	<header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">&lt;</a>
        </div>
    </header>
    
    <ul data-role="listview" data-style="inset">
        <li>
            <label>
                Email
                <input type="text" data-role="none" data-bind="value: email" />
            </label>
        </li>
        <li>
            <label>
                Password
                <input type="password" data-bind="value: pass" />
            </label>
        </li>
        <li>
            <label>
                Re-enter password
                <input type="password" data-bind="value: rePass" />
            </label>
        </li>
        <li data-bind="visible: hasErrors">
            <span data-bind="text: errorHeader" style="color:red"></span>
            <p>
                <span data-bind="text: errorText" style="font-size:smaller; color:red"></span>
            </p>
        </li>
        
        <li>
            <div>
                <a data-role="button" href="#:back">Cancel</a>
                <a data-role="button" class="align-right" data-bind="click: onRegister">Register</a>
			</div>
        </li>
    </ul>
</div>