<div data-role="view" data-layout="mobile-view" data-title="Configure profile"
     data-model="app.profileService.biometricsViewModel" data-show="app.profileService.biometricsViewShow">
	<header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">&lt;</a>
        </div>
    </header>
    <form>
		<ul data-role="listview" data-style="inset">
            <li>
                <label>
                    Weight:
                    <input type="number" data-bind="value : weight" min="20" max="200" step="0.5" />
                </label>
            </li>
            <li>
                <label>
                    Neck:
                    <input type="number" data-bind="value : neck" min="10" max="100" step="0.5" />
                </label>
            </li>
            <li>
                <label>
                    Waist:
                    <input type="number" data-bind="value : waist" min="20" max="200" step="1" />
                </label>
            </li>
            <li data-bind="visible: isHipsFieldVisible">
                <label>
                    Hips:
                    <input type="number" data-bind="value : hips" min="20" max="200" step="1" />
                </label>
            </li>
            
            <li>
                <label>
                    Body fat:
                </label>
                <span data-bind="text: bodyFat"></span>
                <span>%</span>
            </li>
            
            <li data-bind="visible: isWizard">
                <div>
                    <a data-role="button" data-bind="click: onGoToDashboard">Configure Later</a>
                    <a data-role="button" class="align-right" data-bind="click: onGoToNextStep">Next Step</a>
                </div>
            </li>
            
            <li data-bind="visible: isNotWizard">
                <div>
                    <a data-role="button" class="align-right" data-bind="click: onSave">Save</a>
                </div>
            </li>
        </ul>
    </form>
</div>