<div data-role="view" data-layout="mobile-view" data-title="Configure profile"
     data-model="app.profileService.biometricsViewModel">
	<header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </header>
    <form>
		<ul data-role="listview" data-style="inset">
            <li>
                <label>
                    Birth date:
                    <input type="text" data-bind="value : birthDate" />
                </label>
            </li>
            <li>
                <label>
                	Height:
                    <input type="number" data-bind="value : height" min="120" max="250" step="1" />
                </label>
            </li>
            <li>
                <label>
                    Sex:
                    <select data-bind="value : sex">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </label>
				<!--<ul class="align-right" data-role="buttongroup">
                    <li>Male</li>
                    <li>Female</li>
                </ul>-->
            </li>
            <li></li>
            <li>
                <label>
                    Weight:
                    <input type="number" data-bind="value : weight" min="20" max="200" step="0.5" />
                </label>
            </li>
            <li>
                <label>
                    Neck:
                    <input type="number" data-bind="value : neck" min="10" max="100" step="0.5" />
                </label>
            </li>
            <li>
                <label>
                    Waist:
                    <input type="number" data-bind="value : waist" min="20" max="200" step="1" />
                </label>
            </li>
            <li data-bind="visible: isHipsFieldVisible">
                <label>
                    Hips:
                    <input type="number" data-bind="value : hips" min="20" max="200" step="1" />
                </label>
            </li>
            
            <li>
                <label>
                    Body fat:
                </label>
                <span data-bind="text: bodyFat"></span>
                <span>%</span>
            </li>
            
            <li>
                <div>
                    <a data-role="button" data-bind="click: onGoToDashboard">Configure Later</a>
                    <a data-role="button" class="align-right" data-bind="click: onGoToNextStep">Next Step</a>
                </div>
            </li>
        </ul>
    </form>
</div>